@font-face {
    font-family: sketchpad;
    src: url(fonts/SketchPad-1EVg.ttf);
}

* {
    padding: 0;
    margin: 0;
    color: rgb(236, 236, 236);
}

h1 {
    font-family: sketchpad;
}

.title {
    font-size: 75px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(33, 33, 33);
    /* align-items: center; */
}

.contents {
    display: flex;
    justify-content: center;
    height: 90vh;
    margin: 24px;
    /* border: solid black 4px; */
    padding: 5px;
    gap: 120px;
    align-items: flex-start;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
    flex: 0 0 auto;
    /* padding-top: 48px; */
    /* border: solid black 4px; */
}

.drawing-box {
    flex: 0 0 auto;
    /* height: 500px; */
    /* width: 500px; */
    /* border: solid black 4px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    border: solid black 1px;
    width: 750px;
    height: 750px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pixel {
    box-sizing: border-box;
    background-color: white;
}

.controls input[type="button"] {
    background-color: rgb(47, 47, 47);
    padding: 12px 24px;
    border-radius: 8px;
    width: 200px;
    /* border: 5px; */
}

.pixel-amount {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
}

.color-selector {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 12px;
}

#color-picker {
    width: 200px;
    height: 36px;
    border: 0px;
    background-color: rgb(33, 33, 33);
}

.setting {
    display: flex;
    gap: 24px;
}

#pixel-count {
    background-color: rgb(47, 47, 47);
}

.highlight-button {
    border: solid gold 5px;
}